.designation{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A2834B;
    margin: 2rem;
}


.text{
    background-color: #EBE3D6;
    padding:1rem 1rem 0rem 1rem;
    border-radius: 1rem;
}